@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font-family */
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .grechen-fuemen-regular {
    font-family: "Grechen Fuemen", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .nunito-reguler {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
  }


/* TEST */
.h-screen {
    height: 100vh;
}

.aspect-16-9 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.aspect-16-9 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-primary {
    background-color: #53BFCB;
  }

.bg-secondary {
    background-color: #1E4E58;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
}a

.t1{
    mix-blend-mode: difference;
    color: #fff;
}

.footer{
}
